[user]
        name = Roger Hu
        email = rhu@hearsaycorp.com
[color]
        diff = auto
        status = auto
        branch = auto
[push]
        default = tracking
[merge]
        tool = emerge
